<!DOCTYPE html>
<html lang="en">
<header>
    <script src="js/sign-in.js"></script>
    {{>header2}}
</header>

<body>
    <div
        style="border-style:none ; border-top: 2px solid #A8A196; border-left: 2px solid #A8A196; border-bottom: 2px solid #7D7463; border-right: 2px solid #7D7463; width: 450px; height: 350px; position: absolute; left: 41%; top: 20%;">

        <input id="email" type="text" placeholder="e-mail" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%;top: 20%; outline-width: 0;"><br><br>
        <input id="password" type="password" placeholder="password" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 25%; outline-width: 0;"><br><span id="invalidSignIn"
            style="position: relative; top: 29%;left:10%; visibility: hidden;">The information you provided is
            invalid</span><br>

        <button type="submit" id="sign-in"
            style="position: relative; left: 67%; top: 50%; width: 120px;height: 30px; border-style:none ; background-color: rgb(163, 156, 135); border-radius: 10px; ">
            Sign in
        </button>
    </div>
</body>

</html>