<!DOCTYPE html>
<html lang="en">
<header>
    <script src="js/sign-up.js"></script>
    {{>header2}}
</header>

<body>
    <div
        style="border-style:none ; border-top: 2px solid #A8A196; border-left: 2px solid #A8A196; border-bottom: 2px solid #7D7463; border-right: 2px solid #7D7463; width: 450px; height: 700px; position: relative; left: 35%; top: 20%;">
        <input id="first_name" type="text" placeholder="first name" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 10%; outline-width: 0;"><br><br>
        <input id="last_name" type="text" placeholder="last name" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 15%; outline-width: 0;"><br><br>
        <input id="email" type="text" placeholder="e-mail" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%;top: 20%; outline-width: 0;"><br><span id="invalidPass"
            style="color: red; position: relative; left: 10%; top: 22%; visibility: hidden;">This
            email is already used to try another one or try to sign in </span><br>
        <input id="password" type="password" placeholder="password" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 25%; outline-width: 0;"><br><br>
        <input id="retyped_pass" type="password" placeholder="repeat the password" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 30%; outline-width: 0;">
        <br><span id="PasNoMatch" style="color: red; position: relative; left: 10%; top: 32%; visibility: hidden;">This
            password doesnt match the first one </span><br>
        <input id="address" type="text" placeholder="Address" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 35%; outline-width: 0;"><br>
        <input id="age" type="date" style="border-style: none; border-bottom: 2px solid #A8A196; width: 300px;
        position: relative; left: 10%; top: 40%; outline-width: 0;"><br>
        <br><span id="emtySlot" style="color: red; position: relative; left: 10%; top: 39%; visibility: hidden;">There
            is an empty information slot or more than one</span><br>
        <button type="submit" id="create"
            style="position: relative; left: 67%; top: 50%; width: 120px;height: 30px; border-style:none ; background-color: rgb(163, 156, 135); border-radius: 10px; ">
            Create Account
        </button>
</body>

</html>