<!DOCTYPE html>
<html lang="en">
<header>
    {{>header2}}
</header>

<body>
    <button onclick="window.location.href='sign-in';"
        style="text-align: center; position: absolute; left: 48.4%; top: 40%; width: 90px; border-radius: 10px; height: 30px; border-style: none; background-color:rgb(163, 156, 135); filter: blur(0px); "><span
            style="font-family: 'Brush Script MT', cursive; font-size: 24px; position: relative; bottom: 17%;">Login</span></button><br>
    <button onclick="window.location.href='sign-up';"
        style=" text-align: center;position: absolute; left: 48.2%; top: 45%; width: 102px; height: 40px; border-radius: 10px; border-style: none;background-color:rgb(163, 156, 135) ;filter: blur(0px);"><span
            style="font-family: 'Brush Script MT', cursive; font-size: 20px; position: relative; bottom: 10%;">sign
            Up</span></button>
</body>

</html>